@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
body{
    margin:0;
}
img {
    max-width: 100%; 
    height: auto; 
}
ul{
    list-style-type: none;
}
#header-menu{
    background-color: black;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: sticky;
    top: 0px; */
}
a{
    text-decoration: none;
}
/* #container-logo{
   
} */
nav{
    width: 20%;
    max-width: 20%;
}

#links-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
#links-header>li>a{
    font-size: 100%;
    font-weight: 600;
}
header>h1{
    text-align: center;
}
.logo-a{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    max-width: 20%;
}

#barra-de-pesquisa{
    width: 20%;
    display: flex;
    align-items: center;
    border: 5px solid #ffffff;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
}
#input-barra-de-pesquisa{
    height: 45px;
    width: 100%;
    background-color: black;
    border: none;
    outline: none;
    font-size: 18px;
}
#div-lupa{
    margin-right: 10px;
}
#botao-lupa{
    width: 36px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
#linha-metade{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: blue;
    width: 4px;
    height: 100vh;
    z-index: 50;
}
main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#div-atleta-destaque{
    position: relative;
    width: 100%;
}
#div-atleta-destaque > img{
    width: 100%;
}
#info-atleta-destaque{
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nome-atleta-destaque{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
}
.titulo-atleta-destaque{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
}
#todos-os-atletas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    gap: 49px;
    margin-bottom: 1.8em;
}
.div-atleta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.botao-evento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 75px;
    background-color: white;
    color: black;
    font-size: 1.375em;
    font-weight: 700;
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}
.botao-evento:hover{
    opacity: 0.95;
}
.botao-evento:active{
    opacity: 0.80;
}
.nome-atleta{
    font-size: 22px;
}
.linha-horizontal{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}
.linha-horizontal::before {
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
} 
.titulo-secao {
    display: inline-block;
    position: relative;
    font-size: 2em;
    background: #000; /* Cor de fundo que deve cobrir a linha horizontal */
    padding: 0 10px; /* Espaçamento ao redor do texto */
    z-index: 2;
}
.logo-footer{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}
footer{
    background-color: #353535;
    padding: 2em;
    width: 100%;
    margin-top: 3em;
}