@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
body{
    margin:0;
}
ul{
    list-style-type: none;
}
#header-menu{
    background-color: black;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: sticky;
    top: 0px; */
}
a{
    text-decoration: none;
}
/* #container-logo{
   
} */
nav{
    width: 20%;
    max-width: 20%;
}

#links-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
#links-header>li>a{
    font-size: 100%;
    font-weight: 600;
}
header>h1{
    text-align: center;
}
.logo-a{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    max-width: 20%;
}

#barra-de-pesquisa{
    width: 20%;
    display: flex;
    align-items: center;
    border: 5px solid #ffffff;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
}
#input-barra-de-pesquisa{
    height: 45px;
    width: 100%;
    background-color: black;
    border: none;
    outline: none;
    font-size: 18px;
}
#div-lupa{
    margin-right: 10px;
}
#botao-lupa{
    width: 36px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
#linha-metade{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: blue;
    width: 4px;
    height: 100vh;
    z-index: 50;
}
main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.linha-horizontal{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}
.linha-horizontal::before {
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
} 
.titulo-secao {
    display: inline-block;
    position: relative;
    font-size: 2em;
    background: #000;
    padding: 0 10px; 
    z-index: 2;
}
#noticias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: flex-end;
    grid-template-areas: 
    "n01 n02"
    "n01 n03"
    "n04 n04"
    "n05 n06"
    ;
    width: 60%;
    gap: 1rem;
}
.noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content; 
    position: relative;
}
.noticia > a > img{
    width: 100%;
}
.info-noticia{
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
    width: 100%;
    min-height: 100px;
    position: absolute;
    bottom:0;
    padding:5px;
    padding-top: 13px;
}
.data-noticia{
    text-align: right;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
    width: 100%;
}
.titulo-noticia{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
#noticia1{
    grid-area: n01;
}
#noticia2{
    grid-area: n02;
}
#noticia3{
    grid-area: n03;
}
#noticia4{
    grid-area: n04;
}
#noticia5{
    grid-area: n05;
}
#noticia6{
    grid-area: n06;
}
.logo-footer{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}
footer{
    background-color: #353535;
    padding: 2em;
    width: 100%;
    margin-top: 3em;
}