@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
body{
    margin:0;
}
img {
    max-width: 100%; /* Garante que as imagens não excedam a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
ul{
    list-style-type: none;
}
#header-menu{
    background-color: black;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    top: 0px; */
}
a{
    text-decoration: none;
}
/* #container-logo{
   
} */
nav{
    width: 100%;
}
#secao-navegacao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#links-header{
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
#logo-a{
    font-size: 1.375em;
    font-weight: 700;
    text-align: center;
}
#barra-de-pesquisa{
    width: 20%;
    display: flex;
    align-items: center;
    border: 5px solid #ffffff;
    border-radius: 20px;
    padding: 5px;
}
#input-barra-de-pesquisa{
    height: 45px;
    width: 100%;
    background-color: black;
    border: none;
    outline: none;
    font-size: 18px;
}
#div-lupa{
    margin-right: 10px;
}
#botao-lupa{
    width: 36px;
    height: 32px;
    background: none;
    background-image: url('./Assets/Lupa.png');
    border: none;
    cursor: pointer;
}

main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#imagem-evento-destaque{
    width: 100vw;
    height: 684px;
    object-fit: cover;
}
#titulo-destaque{
    font-size: 3.25em;
    font-weight: 700;
}
#subtitulo-destaque, #numero-destaque{
    font-size: 2em;
    font-weight: 700;
}
#info-evento-destaque{
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%, 0);
    text-align: center;
    height: 200px;
}
#container-titulo-destaque{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#section-em-alta{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
}
.linha-horizontal{
    width: 100%;
    position: relative;
    text-align: center;
}
.linha-horizontal::before {
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
} 
.titulo-secao {
    display: inline-block;
    position: relative;
    background: #000; /* Cor de fundo que deve cobrir a linha horizontal */
    padding: 0 10px; /* Espaçamento ao redor do texto */
    z-index: 2;
}
#botoes-destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
#botoes-destaque a:nth-last-child(2){
    margin-bottom: 0.8em;
}
.botao-evento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 75px;
    background-color: white;
    color: black;
    font-size: 1.375em;
    font-weight: 700;
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}
.botao-evento:hover{
    opacity: 0.95;
}
.botao-evento:active{
    opacity: 0.80;
}
#em-alta{
    width: 50%;
    /* box-sizing: content-box; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    grid-template-areas: 
    "ea1 ea2"
    "ea3 ea3"
    "ea4 ea5"
    ;
    /* gap: 1em; */
    align-items: end;
}
/* .item-em-alta{
    align-self: flex-end;
} */

.item-em-alta{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-titulo-e-ler-mais{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.titulo-materia-em-alta{
    font-size: 24px;
    font-weight: 700;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
}

.ler-mais{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
}
#em-alta1{
    grid-area: ea1;
}
#em-alta2{
    grid-area: ea2;
}
#em-alta3{
    grid-area: ea3;
}
#em-alta4{
    grid-area: ea4;
}
#em-alta5{
    grid-area: ea5;
}
#destaques{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}
.div-destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}