@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
body{
    margin:0;
}
img {
    max-width: 100%; /* Garante que as imagens não excedam a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
ul{
    list-style-type: none;
}
#header-menu{
    background-color: black;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: sticky;
    top: 0px; */
}
a{
    text-decoration: none;
}
/* #container-logo{
   
} */
nav{
    width: 20%;
    max-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#links-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
#links-header>li>a{
    font-size: 100%;
    font-weight: 600;
}
#list-links{
    display: none;
    height: 48px;
    width: 48px;
    cursor: pointer;
}
#list-links>button{
    display: none;
    height: 48px;
    width: 48px;
    cursor: pointer;
    background-color: black;
}
#list-links>button>img{
    display: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#container-pesquisa{
    display: none;
    width: 20%;
    max-width: 20%;
    
}
#botao-pesquisa{
    display: none;
    height: 48px;
    width: 48px;
    cursor: pointer;
    background-color: black;
    border: none;
}
#botao-pesquisa:hover{
    opacity: 0.95;
}
#botao-pesquisa:active{
    opacity: 0.8;
}
#botao-pesquisa>img{
    display: none;
    width: 100%;
    height: 100%;
}
header>h1{
    text-align: center;
}
.logo-a{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    max-width: 20%;
}

#barra-de-pesquisa{
    width: 20%;
    display: flex;
    align-items: center;
    border: 5px solid #ffffff;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
}
#input-barra-de-pesquisa{
    height: 45px;
    width: 100%;
    background-color: black;
    border: none;
    outline: none;
    font-size: 18px;
}
#div-lupa{
    margin-right: 10px;
}
#botao-lupa{
    width: 36px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
#linha-metade{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: blue;
    width: 4px;
    height: 100vh;
    z-index: 50;
}
main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#imagem-evento-destaque{
    width: 100vw;
    height: 684px;
    object-fit: cover;
}
#titulo-destaque{
    font-size: 3.25rem;
    font-weight: 700;
}
#subtitulo-destaque, #numero-destaque{
    font-size: 2rem;
    font-weight: 700;
}
#info-evento-destaque{
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%, 0);
    text-align: center;
    height: 200px;
}
#container-titulo-destaque{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#section-em-alta{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
}
.linha-horizontal{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}
.linha-horizontal::before {
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
} 
.titulo-secao {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    background: #000; /* Cor de fundo que deve cobrir a linha horizontal */
    padding: 0 10px; /* Espaçamento ao redor do texto */
    z-index: 2;
}
#botoes-destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
#botoes-destaque a:nth-last-child(2){
    margin-bottom: 0.8em;
}
.botao-evento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 75px;
    background-color: white;
    color: black;
    font-size: 1.375rem;
    font-weight: 700;
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}
.botao-evento:hover{
    opacity: 0.95;
}
.botao-evento:active{
    opacity: 0.80;
}
#em-alta{
    width: 50%;
    /* box-sizing: content-box; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    grid-template-areas: 
    "ea1 ea2"
    "ea3 ea3"
    "ea4 ea5"
    ;
    /* gap: 1em; */
    align-items: end;
}
/* .item-em-alta{
    align-self: flex-end;
} */

.item-em-alta{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-titulo-e-ler-mais{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.titulo-materia-em-alta{
    font-size: 1.375rem;
    font-weight: 700;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
}

.ler-mais{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
}
#em-alta1{
    grid-area: ea1;
}
#em-alta2{
    grid-area: ea2;
}
#em-alta3{
    grid-area: ea3;
}
#em-alta4{
    grid-area: ea4;
}
#em-alta5{
    grid-area: ea5;
}
#destaques{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    gap: 1.2rem;
}
.div-destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: max-content;
    /* height: 250px;  */
    gap:5px;
    cursor: pointer;
}
.div-destaque>img{
    width: 100%;
    height: 65%;

}
.nome-atleta-destaque{
    text-align: center;
    font-size: 1rem;
    font-style: bold;
    font-weight: 600;
    text-wrap: wrap;
}
.logo-footer{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
footer{
    background-color: #353535;
    padding: 2em;
    width: 100%;
    margin-top: 3em;
}

@media screen and (max-width: 1100px){
    .titulo-materia-em-alta{
        font-size: 1.1rem;
        font-weight: 700;
        -webkit-text-stroke: 7px black;
        paint-order: stroke fill;
    }
    .ler-mais{
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 700;
        -webkit-text-stroke: 7px black;
        paint-order: stroke fill;
    }
    
}
@media screen and (max-width: 850px){
    .logo-a{
        max-width: 20%;
    }
    nav{
        width: 20%;
        max-width: 20%;
    }
    #links-header{
        display: none;
    }
    #list-links, #list-links>button, #list-links>button>img{
        display: block;
    }
    #barra-de-pesquisa{
        display: none;
    }
    #container-pesquisa{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #botao-pesquisa, #botao-pesquisa>img{
        display: block;
    }
    #destaques{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
    }
    .div-destaque{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px; 
        height: max-content;
        /* height: 250px;  */
        gap:5px;
        cursor: pointer;
    }
}
@media screen and (max-width: 800px){
    #em-alta{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    
}
@media screen and (max-width: 420px){
    #destaques{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .logo-a{
        font-size: 1.5rem;
    }
}
