@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
body{
    margin:0;
}
img {
    max-width: 100%; /* Garante que as imagens não excedam a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
ul{
    list-style-type: none;
}
#header-menu{
    background-color: black;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    top: 0px; */
}
a{
    text-decoration: none;
}
/* #container-logo{
   
} */
nav{
    width: 100%;
}
#secao-navegacao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#links-header{
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
#logo-a{
    font-size: 1.375em;
    font-weight: 700;
    text-align: center;
}
#barra-de-pesquisa{
    width: 20%;
    display: flex;
    align-items: center;
    border: 5px solid #ffffff;
    border-radius: 20px;
    padding: 5px;
}
#input-barra-de-pesquisa{
    height: 45px;
    width: 100%;
    background-color: black;
    border: none;
    outline: none;
    font-size: 18px;
}
#div-lupa{
    margin-right: 10px;
}
#botao-lupa{
    width: 36px;
    height: 32px;
    background: none;
    background-image: url('./Assets/Lupa.png');
    border: none;
    cursor: pointer;
}

main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#imagem-evento-destaque{
    width: 100vw;
    height: 684px;
    object-fit: cover;
}
#em-alta{
    width: 60%;
    /* box-sizing: content-box; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "ea1 ea2"
    "ea3 ea3"
    "ea4 ea5"
    ;
    gap: 1em;
    align-items: end;
}
/* .item-em-alta{
    align-self: flex-end;
} */
.item-em-alta{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-titulo-e-ler-mais{
    position: absolute;
    bottom: 0px;
    width: 100%;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
    text-align: center;
}
.titulo-materia-em-alta{
    font-size: 24px;
    font-weight: 700;
}

.ler-mais{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
#em-alta1{grid-area: ea1;}
#em-alta2{grid-area: ea2;}
#em-alta3{grid-area: ea3;}
#em-alta4{grid-area: ea4;}
#em-alta5{grid-area: ea5;}