@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
body{
    margin:0;
}
img {
    max-width: 100%; /* Garante que as imagens não excedam a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
ul{
    list-style-type: none;
}
#header-menu{
    background-color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    top: 0px; */
}
a{
    text-decoration: none;
}
/* #container-logo{
   
} */
nav{
    width: 100%;
}
#linha-metade{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: blue;
    width: 4px;
    height: 100vh;
    z-index: 50;
}
#secao-navegacao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#links-header{
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-a{
    font-size: 1.375em;
    font-weight: 700;
    text-align: center;
}

#barra-de-pesquisa{
    width: 20%;
    display: flex;
    align-items: center;
    border: 5px solid #ffffff;
    border-radius: 20px;
    padding: 5px;
}
#input-barra-de-pesquisa{
    height: 45px;
    width: 100%;
    background-color: black;
    border: none;
    outline: none;
    font-size: 18px;
}
#div-lupa{
    margin-right: 10px;
}
#botao-lupa{
    width: 36px;
    height: 32px;
    background: none;
    background-image: url('./Assets/Lupa.png');
    border: none;
    cursor: pointer;
}
main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.linha-horizontal{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}
.linha-horizontal::before {
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
} 
.titulo-secao {
    display: inline-block;
    position: relative;
    font-size: 2em;
    background: #000; /* Cor de fundo que deve cobrir a linha horizontal */
    padding: 0 10px; /* Espaçamento ao redor do texto */
    z-index: 2;
}
.logo-footer{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}
#container-rankings{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 55%;
    justify-content: space-around;
}
.ranking{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ranking>img{
    height: 270px;
}
.ranking>p{
    text-align: center;
}
li{
    list-style-position: inside;
}
footer{
    background-color: #353535;
    padding: 2em;
    width: 100%;
    margin-top: 3em;
}