@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
#header-menu{
    background-color: black;
    width: 100vw;
}
main{
    background-color: black;
}
#secao-navegacao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ancora-nav{ 
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    margin-right: 25px;
}
#logo-cfc{
    margin-top: 20px;
}
#barra-de-pesquisa{
    width: 404px;
    display: flex;
    align-items: center;
    border: 5px solid #ffffff;
    border-radius: 20px;
    padding: 5px;
}
#input-barra-de-pesquisa{
    height: 45px;
    width: 100%;
    background-color: black;
    border: none;
    outline: none;
    font-size: 18px;
}
#div-lupa{
    margin-right: 10px;
}
#botao-lupa{
    width: 36px;
    height: 32px;
    background: none;
    background-image: url('./Assets/Lupa.png');
    border: none;
    cursor: pointer;
}
#imagem-evento-destaque{
    width: 100vw;
    height: 684px;
    object-fit: cover;
}
#informacoes-evento-destaque{
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%, 0);
    text-align: center;
}
#div-titulo-evento-destaque{
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#numero-evento-destaque{
    font-size: 36px;
    font-weight: 700;
}
#titulo-evento-destaque{
    font-size: 52px;
    font-weight: 700;
}
#subtitulo-evento-destaque{
    font-size: 32px;
    font-weight: 700;
}
#div-botoes-evento-destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}
.botao-evento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 75px;
    background-color: white;
    color: black;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 14px;
}
#em-alta{
    width: 1050px;
    display: flex;
    flex-direction: column;
    margin: 0 197px 0 197px;
}
.linha-em-alta{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    text-align: center;
}
.ler-mais{
    text-decoration: none;
}